In [10]:
import pandas as pd
from mcod_prep.utils.mcause_io import get_mcause_data
from importlib import import_module

In [5]:
BLOCK_RERUN = {'block_rerun': True, 'force_rerun': False}
LOCS = "TWN_MOH"

df = get_mcause_data(
phase='format_map', source=LOCS, sub_dirs="x59",
data_type_id=9, assert_all_available=True,
verbose=True, **BLOCK_RERUN)

[2019-12-16 20:38:28.557748] Getting datasets to read
[2019-12-16 20:38:28.725927] Reading /ihme/cod/prep/agesak/process_data/mcod/db_cache/nid_locyears.csv
[2019-12-16 20:38:28.889512] Reading /ihme/cod/prep/agesak/process_data/mcod/db_cache/nid_metadata.csv
[2019-12-16 20:38:29.215905] Reading /ihme/cod/prep/agesak/process_data/mcod/db_cache/location_hierarchy_history_v420.csv
[2019-12-16 20:38:29.232764] Got 10 datasets
[2019-12-16 20:38:29.234317] Checking which datasets have available files
[2019-12-16 20:38:29.379923] Found 10 files to read data for.
[2019-12-16 20:38:29.380061] Reading and appending format_map data for 10 nid-extracts
[2019-12-16 20:38:29.973303] Constructed a dataset of 186741 rows

In [6]:
df.head()

,age_group_id,cause_id,cause_x59,code_id,deaths,drop_rows,extract_type_id,location_id,nid,pII_in_ncodes,pII_ncodes,pII_x59,pattern,sex_id,x59,year_id
0,4,302,no_int_cause,103584,1,0,1,8,356743,NaN,NaN,0,NaN,1,0,2008
1,4,317,no_int_cause,94,1,0,1,8,356743,NaN,NaN,0,NaN,1,0,2008
2,4,327,no_int_cause,12846,1,0,1,8,356743,NaN,NaN,0,NaN,1,0,2008
3,4,327,no_int_cause,12893,1,0,1,8,356743,NaN,NaN,0,NaN,1,0,2008
4,4,337,no_int_cause,680,1,0,1,8,356743,NaN,NaN,0,NaN,1,0,2008

In [7]:
len(df)

186741

In [8]:
def get_formatting_method(source, data_type_id, year, drop_p2):
    """Return the formatting method by source."""
    if data_type_id == 3:
        clean_source = 'clean_hospital_data'
        args = [source, year]
    else:
        clean_source = 'clean_' + source.lower()
        args = [year, drop_p2]
    try:
        formatting_method = getattr(
            import_module(f"mcod_prep.datasets.{clean_source}"), f"{clean_source}"
        )
    except AttributeError:
        print(f"No formatting method found! Check module & main function are named clean_{source}")
    return formatting_method, args

In [186]:
formatting_method, args = get_formatting_method(source="TWN_MOH", data_type_id=9, year=2008, drop_p2=True)
df = formatting_method(*args)

Reading 2008

In [187]:
df.head()

,year_id,sex_id,age_group_id,nid,extract_type_id,location_id,code_system_id,deaths,multiple_cause_8,multiple_cause_19,multiple_cause_15,multiple_cause_5,multiple_cause_18,multiple_cause_1,multiple_cause_13,multiple_cause_4,multiple_cause_2,multiple_cause_9,multiple_cause_10,multiple_cause_12,multiple_cause_3,multiple_cause_17,multiple_cause_7,multiple_cause_14,multiple_cause_11,multiple_cause_20,multiple_cause_6,multiple_cause_16,cause
0,2008,2,31,356743,1,8,1,1,0000,0000,0000,E46,0000,R788,0000,N19,T857,0000,0000,0000,Y848,0000,0000,0000,0000,0000,F0300,0000,Y848
1,2008,2,31,356743,1,8,1,1,0000,0000,0000,0000,0000,A419,0000,0000,R092,0000,0000,0000,I219,0000,0000,0000,0000,0000,0000,0000,I219
2,2008,2,235,356743,1,8,1,1,0000,0000,0000,0000,0000,I64,0000,0000,R092,0000,0000,0000,0000,0000,0000,0000,0000,0000,0000,0000,I64
3,2008,2,20,356743,1,8,1,1,0000,0000,0000,0000,0000,R570,0000,0000,R092,0000,0000,0000,0000,0000,0000,0000,0000,0000,0000,0000,R092
4,2008,2,20,356743,1,8,1,1,0000,0000,0000,0000,0000,I38,0000,0000,C541,0000,0000,0000,0000,0000,0000,0000,0000,0000,0000,0000,I38

In [20]:
from __future__ import print_function
from builtins import zip
import pandas as pd
import numpy as np
import re
from cod_prep.utils import (
    print_log_message, report_duplicates, clean_icd_codes, report_if_merge_fail
)
from cod_prep.downloaders import get_cause_map, add_code_metadata
from cod_prep.claude.configurator import Configurator

In [147]:

    def get_code_columns(df):
        """Get a list of raw cause columns with ICD codes as values."""
        col_names = list(df.columns)
        code_cols = [x for x in col_names if "multiple_cause" in x and "pII" not in x] + ['cause']
        return code_cols


    def _get_cause_num(mcod_col):
        """Get sort order for cause columns.

        Assumes you have an underlying cause (cause_x) column and chain columns (multiple_cause_x)
        and that the value to sort off of is after the second underscore.
        """
        if mcod_col.startswith('cause'):
            return '0'
        else:
            assert re.match(r"^multiple_cause_[a-z]*[0-9]*", mcod_col), \
                f"column {mcod_col} does not match expected format: multiple_cause_x"
            return mcod_col.split('_')[2]


    def prep_raw_mapped_cause_dictionary(raw_cols, mapped_cols):
        """Create dictionary of raw cause columns to mapped cause columns.

        Ensures that "multiple_cause_2_mapped" is the value associated with
        "multiple_cause_2" key, e.g.
        """
        raw_cols = sorted(raw_cols, key=_get_cause_num)
        mapped_cols = sorted(mapped_cols, key=_get_cause_num)
        return dict(list(zip(raw_cols, mapped_cols)))


    def fix_icd_codes(df, codes, code_system_id):
        """Adjustment to icd9/10 cause codes."""
        if code_system_id == 6:
            # according to Mohsen, codes between 800 to 900 need an E if underlying
            # assume 800, 900 codes are N codes if in the chain, don't add any prefix
            df.loc[df['cause'].str.contains('^[89]'), 'cause'] = 'E' + df['cause']
        # commenting this out 11/19/2019
        # don't drop/zero out; let it be mapped as garbage
        # elif code_system_id == 1:
        #     # S + T codes are always intermediate causes of death
        #     # V + Y codes are always the underlying cause of death
        #     violations = df['cause'].str.contains('^[ST]')
        #     num_violations = len(df[violations])
        #     if num_violations > 0:
        #         print_log_message(
        #             f"Found S or T code as underlying cause, dropping {num_violations} rows"
        #         )
        #         assert np.isclose(len(df[~violations]), len(df), rtol=.10)
        #         df = df.loc[~violations]

        #     # next check violations in chain causes
        #     # V and Y codes can only be UCOD
        #     for col in codes:
        #         if col != 'cause':
        #             violations = df[col].str.contains('^[VY]')
        #             num_violations = len(df[violations])
        #             if num_violations > 0:
        #                 print_log_message(
        #                     f"Setting {num_violations} rows with V/Y in chain to 0000 for {col}")
        #                 df.loc[violations, col] = '0000'
        return df


    def prep_cause_package_map(cause_package_map):
        """Expects cause-package map.

        Set dictionary of value: map_id since we only care about the package name
        or the cause_id, not the individual ICD code level code.
        """
        check_map = cause_package_map[['map_id', 'map_type']].drop_duplicates()
        report_duplicates(check_map, 'map_id')
        cause_package_map = cause_package_map.set_index('value')['map_id'].to_dict()
        return cause_package_map


    def prep_cause_map(cause_map):
        """Clean up cause map."""
        cause_map['value'] = clean_icd_codes(cause_map['value'], remove_decimal=True)
        # duplicates are a result of weird _gc, the duplicates dropped all
        # have the higher sort_order (999999)
        cause_map = cause_map.drop_duplicates(['code_system_id', 'value'])
        cause_map['code_id'] = cause_map['code_id'].astype(int)
        cause_map = cause_map.set_index('value')['code_id'].to_dict()
        return cause_map

    def map_cause_codes(df, coi_map, coi, cols_to_map=None):
        """Map cause codes to any given value (e.g. acause, category, etc.).

        Inputs
        df (pd dataframe): incoming, unmapped data with ICD codes
        cause_map (pd dataframe): primary cause map, probably downloaded from the engine room
        coi_map (pd dataframe): special map designed just for one cause of interest
        coi (string): cause of interest
        Returns
        df (pd dataframe): mapped dataframe with additional columns for each cause
        """
        df = df.copy()
        if not cols_to_map:
            cols_to_map = get_code_columns(df)
        # map chain causes using cause of interest map
        for col in cols_to_map:
            df[col] = df[col].fillna('0000')
            df[col] = df[col].astype(object)
            df[col + '_' + coi] = df[col].map(coi_map)
        return df


    def trim_and_remap(df, code_dict, cause_map, code_system_id):
        """Trim ICD codes to 4 digits, map again, then 3, and map again."""
        df = df.copy()
        # before trimming, map "null" chain causes to '0000'
        for code, mapped_code in list(code_dict.items()):
            df.loc[df[code] == '0000', mapped_code] = '0000'

        # trim and re map null mappings
        for n in reversed(range(3, 6)):
            for code, mapped_code in list(code_dict.items()):
                temp_code = 'temp_' + code
                df[temp_code] = df[code].copy()
                try:
                    df.loc[df[mapped_code].isnull(), temp_code] = df[temp_code].apply(
                        lambda x: x[0:n])
                except TypeError:
                    # was getting a type error for some unicode issues?
                    if mapped_code != 'cause_mapped':
                        df[mapped_code] = '0000'
                    else:
                        print("problem code here..." + df[code])
                df.loc[df[mapped_code].isnull(), mapped_code] = df[temp_code].map(cause_map)
                df = df.drop(temp_code, axis=1)
        return df

In [24]:
raw_cause_cols = get_code_columns(df)

In [114]:
raw_cause_cols

['multiple_cause_8',
 'multiple_cause_19',
 'multiple_cause_15',
 'multiple_cause_5',
 'multiple_cause_18',
 'multiple_cause_1',
 'multiple_cause_13',
 'multiple_cause_4',
 'multiple_cause_2',
 'multiple_cause_9',
 'multiple_cause_10',
 'multiple_cause_12',
 'multiple_cause_3',
 'multiple_cause_17',
 'multiple_cause_7',
 'multiple_cause_14',
 'multiple_cause_11',
 'multiple_cause_20',
 'multiple_cause_6',
 'multiple_cause_16',
 'cause']

In [100]:
cache_options = {'force_rerun': False, 'block_rerun': True}
code_system_id = 1
full_cause_name = ["unspecified external factor x59"]
int_cause = "x59"
conf = Configurator()

In [188]:
df = fix_icd_codes(df, raw_cause_cols, code_system_id)

In [29]:
from cod_prep.downloaders import get_map_version

In [33]:
cause_map = get_cause_map(
    code_map_version_id=get_map_version(1, 'YLL', 'best'), **cache_options)

In [35]:
cause_map.head()

,code_system_id,code_system,source_label,value,code_name,code_id,cause_id
0,1,ICD10,NaN,A00,Cholera,1,303
1,1,ICD10,NaN,A00.0,"Cholera due to Vibrio cholerae 01, biovar chol...",2,303
2,1,ICD10,NaN,A00.1,"Cholera due to Vibrio cholerae 01, biovar eltor",3,303
3,1,ICD10,NaN,A00.9,"Cholera, unspecified",4,303
4,1,ICD10,NaN,A01,Typhoid and paratyphoid fevers,5,743

In [36]:
code_map = prep_cause_map(cause_map)

/ihme/code/cod/prep/miniconda3/envs/cod_env/lib/python3.7/site-packages/ipykernel_launcher.py:84: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [37]:
code_map

{'A00': 1,
 'A000': 2,
 'A001': 3,
 'A009': 4,
 'A01': 5,
 'A010': 6,
 'A0100': 7,
 'A0101': 8,
 'A0102': 9,
 'A0103': 10,
 'A0104': 11,
 'A0105': 12,
 'A0109': 13,
 'A011': 14,
 'A012': 15,
 'A013': 16,
 'A014': 17,
 'A02': 18,
 'A020': 19,
 'A021': 20,
 'A022': 21,
 'A0220': 22,
 'A0221': 23,
 'A0222': 24,
 'A0223': 25,
 'A0224': 26,
 'A0225': 27,
 'A0229': 28,
 'A028': 29,
 'A029': 30,
 'A03': 31,
 'A030': 32,
 'A031': 33,
 'A032': 34,
 'A033': 35,
 'A038': 36,
 'A039': 37,
 'A04': 38,
 'A040': 39,
 'A041': 40,
 'A042': 41,
 'A043': 42,
 'A044': 43,
 'A045': 44,
 'A046': 45,
 'A047': 46,
 'A048': 47,
 'A049': 48,
 'A05': 49,
 'A050': 50,
 'A051': 51,
 'A052': 52,
 'A053': 53,
 'A054': 54,
 'A055': 55,
 'A058': 56,
 'A059': 57,
 'A06': 58,
 'A060': 59,
 'A061': 60,
 'A062': 61,
 'A063': 62,
 'A064': 63,
 'A065': 64,
 'A066': 65,
 'A067': 66,
 'A068': 67,
 'A0681': 68,
 'A0682': 69,
 'A0689': 70,
 'A069': 71,
 'A07': 72,
 'A070': 73,
 'A071': 74,
 'A072': 75,
 'A073': 76,
 'A074': 77,
 'A078': 78,
 'A079': 79,
 'A08': 80,
 'A080': 81,
 'A081': 82,
 'A0811': 83,
 'A0819': 84,
 'A082': 85,
 'A083': 86,
 'A0831': 87,
 'A0832': 88,
 'A0839': 89,
 'A084': 90,
 'A085': 91,
 'A088': 92,
 'A089': 93,
 'A09': 94,
 'A090': 95,
 'A099': 96,
 'A10': 97,
 'A11': 98,
 'A12': 99,
 'A13': 100,
 'A14': 101,
 'A149': 102,
 'A15': 103,
 'A150': 104,
 'A151': 105,
 'A152': 106,
 'A153': 107,
 'A154': 108,
 'A155': 109,
 'A156': 110,
 'A157': 111,
 'A158': 112,
 'A159': 113,
 'A16': 114,
 'A160': 115,
 'A161': 116,
 'A162': 117,
 'A163': 118,
 'A164': 119,
 'A165': 120,
 'A167': 121,
 'A168': 122,
 'A169': 123,
 'A17': 124,
 'A170': 125,
 'A171': 126,
 'A173': 127,
 'A178': 128,
 'A1781': 129,
 'A1782': 130,
 'A1783': 131,
 'A1789': 132,
 'A179': 133,
 'A18': 134,
 'A180': 135,
 'A1801': 136,
 'A1802': 137,
 'A1803': 138,
 'A1809': 139,
 'A181': 140,
 'A1810': 141,
 'A1811': 142,
 'A1812': 143,
 'A1813': 144,
 'A1814': 145,
 'A1815': 146,
 'A1816': 147,
 'A1817': 148,
 'A1818': 149,
 'A182': 150,
 'A183': 151,
 'A1831': 152,
 'A1832': 153,
 'A1839': 154,
 'A184': 155,
 'A185': 156,
 'A1850': 157,
 'A1851': 158,
 'A1852': 159,
 'A1853': 160,
 'A1854': 161,
 'A1859': 162,
 'A186': 163,
 'A187': 164,
 'A188': 165,
 'A1881': 166,
 'A1882': 167,
 'A1883': 168,
 'A1884': 169,
 'A1885': 170,
 'A1889': 171,
 'A189': 172,
 'A19': 173,
 'A190': 174,
 'A191': 175,
 'A192': 176,
 'A198': 177,
 'A199': 178,
 'A20': 179,
 'A200': 180,
 'A201': 181,
 'A202': 182,
 'A203': 183,
 'A207': 184,
 'A208': 185,
 'A209': 186,
 'A21': 187,
 'A210': 188,
 'A211': 189,
 'A212': 190,
 'A213': 191,
 'A217': 192,
 'A218': 193,
 'A219': 194,
 'A22': 195,
 'A220': 196,
 'A221': 197,
 'A222': 198,
 'A227': 199,
 'A228': 200,
 'A229': 201,
 'A23': 202,
 'A230': 203,
 'A231': 204,
 'A232': 205,
 'A233': 206,
 'A238': 207,
 'A239': 208,
 'A24': 209,
 'A240': 210,
 'A241': 211,
 'A242': 212,
 'A243': 213,
 'A244': 214,
 'A249': 215,
 'A25': 216,
 'A250': 217,
 'A251': 218,
 'A259': 219,
 'A26': 220,
 'A260': 221,
 'A267': 222,
 'A268': 223,
 'A269': 224,
 'A27': 225,
 'A270': 226,
 'A278': 227,
 'A2781': 228,
 'A2789': 229,
 'A279': 230,
 'A28': 231,
 'A280': 232,
 'A281': 233,
 'A282': 234,
 'A288': 235,
 'A289': 236,
 'A29': 237,
 'A30': 238,
 'A300': 239,
 'A301': 240,
 'A302': 241,
 'A303': 242,
 'A304': 243,
 'A305': 244,
 'A308': 245,
 'A309': 246,
 'A31': 247,
 'A310': 248,
 'A311': 249,
 'A312': 250,
 'A318': 251,
 'A319': 252,
 'A32': 253,
 'A320': 254,
 'A321': 255,
 'A3211': 256,
 'A3212': 257,
 'A327': 258,
 'A328': 259,
 'A3281': 260,
 'A3282': 261,
 'A3289': 262,
 'A329': 263,
 'A33': 264,
 'A330': 265,
 'A34': 266,
 'A340': 267,
 'A35': 268,
 'A350': 269,
 'A36': 270,
 'A360': 271,
 'A361': 272,
 'A362': 273,
 'A363': 274,
 'A368': 275,
 'A3681': 276,
 'A3682': 277,
 'A3683': 278,
 'A3684': 279,
 'A3685': 280,
 'A3686': 281,
 'A3689': 282,
 'A369': 283,
 'A37': 284,
 'A370': 285,
 'A3700': 286,
 'A3701': 287,
 'A371': 288,
 'A3710': 289,
 'A3711': 290,
 'A378': 291,
 'A3780': 292,
 'A3781': 293,
 'A379': 294,
 'A3790': 295,
 'A3791': 296,
 'A38': 297,
 'A380': 298,
 'A381': 299,
 'A388': 300,
 'A389': 301,
 'A39': 302,
 'A390': 303,
 'A391': 304,
 'A392': 305,
 'A393': 306,
 'A394': 307,
 'A395': 308,
 'A3950': 309,
 'A3951': 310,
 'A3952': 311,
 'A3953': 312,
 'A398': 313,
 'A3981': 314,
 'A3982': 315,
 'A3983': 316,
 'A3984': 317,
 'A3989': 318,
 'A399': 319,
 'A40': 320,
 'A400': 321,
 'A401': 322,
 'A402': 323,
 'A403': 324,
 'A408': 325,
 'A409': 326,
 'A41': 327,
 'A410': 328,
 'A4101': 329,
 'A4102': 330,
 'A411': 331,
 'A412': 332,
 'A413': 333,
 'A414': 334,
 'A415': 335,
 'A4150': 336,
 'A4151': 337,
 'A4152': 338,
 'A4153': 339,
 'A4159': 340,
 'A416': 341,
 'A418': 342,
 'A4181': 343,
 'A4189': 344,
 'A419': 345,
 'A42': 346,
 'A420': 347,
 'A421': 348,
 'A422': 349,
 'A427': 350,
 'A428': 351,
 'A4281': 352,
 'A4282': 353,
 'A4289': 354,
 'A429': 355,
 'A43': 356,
 'A430': 357,
 'A431': 358,
 'A438': 359,
 'A439': 360,
 'A44': 361,
 'A440': 362,
 'A441': 363,
 'A448': 364,
 'A449': 365,
 'A45': 366,
 'A459': 367,
 'A46': 368,
 'A460': 369,
 'A47': 370,
 'A48': 371,
 'A480': 372,
 'A481': 373,
 'A482': 374,
 'A483': 375,
 'A484': 376,
 'A485': 377,
 'A4851': 378,
 'A4852': 379,
 'A488': 380,
 'A49': 381,
 'A490': 382,
 'A4901': 383,
 'A4902': 384,
 'A491': 385,
 'A492': 386,
 'A493': 387,
 'A498': 388,
 'A499': 389,
 'A50': 390,
 'A500': 391,
 'A5001': 392,
 'A5002': 393,
 'A5003': 394,
 'A5004': 395,
 'A5005': 396,
 'A5006': 397,
 'A5007': 398,
 'A5008': 399,
 'A5009': 400,
 'A501': 401,
 'A502': 402,
 'A503': 403,
 'A5030': 404,
 'A5031': 405,
 'A5032': 406,
 'A5039': 407,
 'A504': 408,
 'A5040': 409,
 'A5041': 410,
 'A5042': 411,
 'A5043': 412,
 'A5044': 413,
 'A5045': 414,
 'A5049': 415,
 'A505': 416,
 'A5051': 417,
 'A5052': 418,
 'A5053': 419,
 'A5054': 420,
 'A5055': 421,
 'A5056': 422,
 'A5057': 423,
 'A5059': 424,
 'A506': 425,
 'A507': 426,
 'A509': 427,
 'A51': 428,
 'A510': 429,
 'A511': 430,
 'A512': 431,
 'A513': 432,
 'A5131': 433,
 'A5132': 434,
 'A5139': 435,
 'A514': 436,
 'A5141': 437,
 'A5142': 438,
 'A5143': 439,
 'A5144': 440,
 'A5145': 441,
 'A5146': 442,
 'A5149': 443,
 'A515': 444,
 'A519': 445,
 'A52': 446,
 'A520': 447,
 'A5200': 448,
 'A5201': 449,
 'A5202': 450,
 'A5203': 451,
 'A5204': 452,
 'A5205': 453,
 'A5206': 454,
 'A5209': 455,
 'A521': 456,
 'A5210': 457,
 'A5211': 458,
 'A5212': 459,
 'A5213': 460,
 'A5214': 461,
 'A5215': 462,
 'A5216': 463,
 'A5217': 464,
 'A5219': 465,
 'A522': 466,
 'A523': 467,
 'A527': 468,
 'A5271': 469,
 'A5272': 470,
 'A5273': 471,
 'A5274': 472,
 'A5275': 473,
 'A5276': 474,
 'A5277': 475,
 'A5278': 476,
 'A5279': 477,
 'A528': 478,
 'A529': 479,
 'A53': 480,
 'A530': 481,
 'A539': 482,
 'A54': 483,
 'A540': 484,
 'A5400': 485,
 'A5401': 486,
 'A5402': 487,
 'A5403': 488,
 'A5409': 489,
 'A541': 490,
 'A542': 491,
 'A5421': 492,
 'A5422': 493,
 'A5423': 494,
 'A5424': 495,
 'A5429': 496,
 'A543': 497,
 'A5430': 498,
 'A5431': 499,
 'A5432': 500,
 'A5433': 501,
 'A5439': 502,
 'A544': 503,
 'A5440': 504,
 'A5441': 505,
 'A5442': 506,
 'A5443': 507,
 'A5449': 508,
 'A545': 509,
 'A546': 510,
 'A548': 511,
 'A5481': 512,
 'A5482': 513,
 'A5483': 514,
 'A5484': 515,
 'A5485': 516,
 'A5486': 517,
 'A5489': 518,
 'A549': 519,
 'A55': 520,
 'A56': 521,
 'A560': 522,
 'A5600': 523,
 'A5601': 524,
 'A5602': 525,
 'A5609': 526,
 'A561': 527,
 'A5611': 528,
 'A5619': 529,
 'A562': 530,
 'A563': 531,
 'A564': 532,
 'A568': 533,
 'A57': 534,
 'A570': 535,
 'A58': 536,
 'A59': 537,
 'A590': 538,
 'A5900': 539,
 'A5901': 540,
 'A5902': 541,
 'A5903': 542,
 'A5909': 543,
 'A598': 544,
 'A599': 545,
 'A60': 546,
 'A600': 547,
 'A6000': 548,
 'A6001': 549,
 'A6002': 550,
 'A6003': 551,
 'A6004': 552,
 'A6009': 553,
 'A601': 554,
 'A609': 555,
 'A61': 556,
 'A62': 557,
 'A63': 558,
 'A630': 559,
 'A638': 560,
 'A64': 561,
 'A640': 562,
 'A65': 563,
 'A650': 564,
 'A66': 565,
 'A660': 566,
 'A661': 567,
 'A662': 568,
 'A663': 569,
 'A664': 570,
 'A665': 571,
 'A666': 572,
 'A667': 573,
 'A668': 574,
 'A669': 575,
 'A67': 576,
 'A670': 577,
 'A671': 578,
 'A672': 579,
 'A673': 580,
 'A677': 581,
 'A679': 582,
 'A68': 583,
 'A680': 584,
 'A681': 585,
 'A689': 586,
 'A69': 587,
 'A690': 588,
 'A691': 589,
 'A692': 590,
 'A6920': 591,
 'A6921': 592,
 'A6922': 593,
 'A6923': 594,
 'A6929': 595,
 'A695': 596,
 'A698': 597,
 'A699': 598,
 'A70': 599,
 'A71': 600,
 'A710': 601,
 'A711': 602,
 'A719': 603,
 'A72': 604,
 'A73': 605,
 'A74': 606,
 'A740': 607,
 'A748': 608,
 'A7481': 609,
 'A7489': 610,
 'A749': 611,
 'A75': 612,
 'A750': 613,
 'A751': 614,
 'A752': 615,
 'A753': 616,
 'A759': 617,
 'A76': 618,
 'A77': 619,
 'A770': 620,
 'A771': 621,
 'A772': 622,
 'A773': 623,
 'A774': 624,
 'A7740': 625,
 'A7741': 626,
 'A7749': 627,
 'A778': 628,
 'A779': 629,
 'A78': 630,
 'A79': 631,
 'A790': 632,
 'A791': 633,
 'A798': 634,
 'A7981': 635,
 'A7989': 636,
 'A799': 637,
 'A80': 638,
 'A800': 639,
 'A801': 640,
 'A802': 641,
 'A803': 642,
 'A8030': 643,
 'A8039': 644,
 'A804': 645,
 'A809': 646,
 'A81': 647,
 'A810': 648,
 'A8100': 649,
 'A8101': 650,
 'A8109': 651,
 'A811': 652,
 'A812': 653,
 'A818': 654,
 'A8181': 655,
 'A8182': 656,
 'A8183': 657,
 'A8189': 658,
 'A819': 659,
 'A82': 660,
 'A820': 661,
 'A821': 662,
 'A829': 663,
 'A83': 664,
 'A830': 665,
 'A831': 666,
 'A832': 667,
 'A833': 668,
 'A834': 669,
 'A835': 670,
 'A836': 671,
 'A838': 672,
 'A839': 673,
 'A84': 674,
 'A840': 675,
 'A841': 676,
 'A848': 677,
 'A849': 678,
 'A85': 679,
 'A850': 680,
 'A851': 681,
 'A852': 682,
 'A853': 683,
 'A854': 684,
 'A858': 685,
 'A86': 686,
 'A860': 687,
 'A864': 688,
 'A87': 689,
 'A870': 690,
 'A871': 691,
 'A872': 692,
 'A878': 693,
 'A879': 694,
 'A88': 695,
 'A880': 696,
 'A881': 697,
 'A888': 698,
 'A89': 699,
 'A890': 700,
 'A895': 701,
 'A899': 702,
 'A90': 703,
 'A900': 704,
 'A91': 705,
 'A910': 706,
 'A919': 707,
 'A92': 708,
 'A920': 709,
 'A921': 710,
 'A922': 711,
 'A923': 712,
 'A9230': 713,
 'A9231': 714,
 'A9232': 715,
 'A9239': 716,
 'A924': 717,
 'A928': 718,
 'A929': 719,
 'A93': 720,
 'A930': 721,
 'A931': 722,
 'A932': 723,
 'A938': 724,
 'A94': 725,
 'A940': 726,
 'A95': 727,
 'A950': 728,
 'A951': 729,
 'A959': 730,
 'A96': 731,
 'A960': 732,
 'A961': 733,
 'A962': 734,
 'A968': 735,
 'A969': 736,
 'A97': 737,
 'A98': 738,
 'A980': 739,
 'A981': 740,
 'A982': 741,
 'A983': 742,
 'A984': 743,
 'A985': 744,
 'A988': 745,
 'A99': 746,
 'A990': 747,
 'B00': 748,
 'B000': 749,
 'B001': 750,
 'B002': 751,
 'B003': 752,
 'B004': 753,
 'B005': 754,
 'B0050': 755,
 'B0051': 756,
 'B0052': 757,
 'B0053': 758,
 'B0059': 759,
 'B007': 760,
 'B008': 761,
 'B0081': 762,
 'B0082': 763,
 'B0089': 764,
 'B009': 765,
 'B01': 766,
 'B010': 767,
 'B011': 768,
 'B0111': 769,
 'B0112': 770,
 'B012': 771,
 'B018': 772,
 'B0181': 773,
 'B0189': 774,
 'B019': 775,
 'B02': 776,
 'B020': 777,
 'B021': 778,
 'B022': 779,
 'B0221': 780,
 'B0222': 781,
 'B0223': 782,
 'B0224': 783,
 'B0229': 784,
 'B023': 785,
 'B0230': 786,
 'B0231': 787,
 'B0232': 788,
 'B0233': 789,
 'B0234': 790,
 'B0239': 791,
 'B027': 792,
 'B028': 793,
 'B029': 794,
 'B03': 795,
 'B04': 796,
 'B05': 797,
 'B050': 798,
 'B051': 799,
 'B052': 800,
 'B053': 801,
 'B054': 802,
 'B058': 803,
 'B0581': 804,
 'B0589': 805,
 'B059': 806,
 'B06': 807,
 'B060': 808,
 'B0600': 809,
 'B0601': 810,
 'B0602': 811,
 'B0609': 812,
 'B068': 813,
 'B0681': 814,
 'B0682': 815,
 'B0689': 816,
 'B069': 817,
 'B07': 818,
 'B070': 819,
 'B078': 820,
 'B079': 821,
 'B08': 822,
 'B080': 823,
 'B0801': 824,
 'B08010': 825,
 'B08011': 826,
 'B0802': 827,
 'B0803': 828,
 'B0804': 829,
 'B0809': 830,
 'B081': 831,
 'B082': 832,
 'B0820': 833,
 'B0821': 834,
 'B0822': 835,
 'B083': 836,
 'B084': 837,
 'B085': 838,
 'B086': 839,
 'B0860': 840,
 'B0861': 841,
 'B0862': 842,
 'B0869': 843,
 'B087': 844,
 'B0870': 845,
 'B0871': 846,
 'B0872': 847,
 'B0879': 848,
 'B088': 849,
 'B09': 850,
 'B10': 851,
 'B100': 852,
 'B1001': 853,
 'B1009': 854,
 'B108': 855,
 'B1081': 856,
 'B1082': 857,
 'B1089': 858,
 'B11': 859,
 'B12': 860,
 'B13': 861,
 'B14': 862,
 'B15': 863,
 'B150': 864,
 'B159': 865,
 'B16': 866,
 'B160': 867,
 'B161': 868,
 'B162': 869,
 'B169': 870,
 'B17': 871,
 'B170': 872,
 'B171': 873,
 'B1710': 874,
 'B1711': 875,
 'B172': 876,
 'B178': 877,
 'B179': 878,
 'B18': 879,
 'B180': 880,
 'B181': 881,
 'B182': 882,
 'B188': 883,
 'B189': 884,
 'B19': 885,
 'B190': 886,
 'B191': 887,
 'B1910': 888,
 'B1911': 889,
 'B192': 890,
 'B1920': 891,
 'B1921': 892,
 'B199': 893,
 'B20': 894,
 'B200': 895,
 'B201': 896,
 'B202': 897,
 'B203': 898,
 'B204': 899,
 'B205': 900,
 'B206': 901,
 'B207': 902,
 'B208': 903,
 'B209': 904,
 'B21': 905,
 'B210': 906,
 'B211': 907,
 'B212': 908,
 'B213': 909,
 'B217': 910,
 'B218': 911,
 'B219': 912,
 'B22': 913,
 'B220': 914,
 'B221': 915,
 'B222': 916,
 'B227': 917,
 'B23': 918,
 'B230': 919,
 'B231': 920,
 'B232': 921,
 'B238': 922,
 'B239': 923,
 'B24': 924,
 'B240': 925,
 'B249': 926,
 'B25': 927,
 'B250': 928,
 'B251': 929,
 'B252': 930,
 'B258': 931,
 'B259': 932,
 'B26': 933,
 'B260': 934,
 'B261': 935,
 'B262': 936,
 'B263': 937,
 'B268': 938,
 'B2681': 939,
 'B2682': 940,
 'B2683': 941,
 'B2684': 942,
 'B2685': 943,
 'B2689': 944,
 'B269': 945,
 'B27': 946,
 'B270': 947,
 'B2700': 948,
 'B2701': 949,
 'B2702': 950,
 'B2709': 951,
 'B271': 952,
 'B2710': 953,
 'B2711': 954,
 'B2712': 955,
 'B2719': 956,
 'B278': 957,
 'B2780': 958,
 'B2781': 959,
 'B2782': 960,
 'B2789': 961,
 'B279': 962,
 'B2790': 963,
 'B2791': 964,
 'B2792': 965,
 'B2799': 966,
 'B28': 967,
 'B29': 968,
 'B294': 969,
 'B30': 970,
 'B300': 971,
 'B301': 972,
 'B302': 973,
 'B303': 974,
 'B308': 975,
 'B309': 976,
 'B31': 977,
 'B319': 978,
 'B32': 979,
 'B323': 980,
 'B324': 981,
 'B33': 982,
 'B330': 983,
 'B331': 984,
 'B332': 985,
 'B3320': 986,
 'B3321': 987,
 'B3322': 988,
 'B3323': 989,
 'B3324': 990,
 'B333': 991,
 'B334': 992,
 'B338': 993,
 'B34': 994,
 'B340': 995,
 'B341': 996,
 'B342': 997,
 'B343': 998,
 'B344': 999,
 'B348': 1000,
 ...}

In [189]:
df['cause_mapped'] = df['cause'].map(code_map)

In [190]:
df.head()

,year_id,sex_id,age_group_id,nid,extract_type_id,location_id,code_system_id,deaths,multiple_cause_8,multiple_cause_19,multiple_cause_15,multiple_cause_5,multiple_cause_18,multiple_cause_1,multiple_cause_13,multiple_cause_4,multiple_cause_2,multiple_cause_9,multiple_cause_10,multiple_cause_12,multiple_cause_3,multiple_cause_17,multiple_cause_7,multiple_cause_14,multiple_cause_11,multiple_cause_20,multiple_cause_6,multiple_cause_16,cause,cause_mapped
0,2008,2,31,356743,1,8,1,1,0000,0000,0000,E46,0000,R788,0000,N19,T857,0000,0000,0000,Y848,0000,0000,0000,0000,0000,F0300,0000,Y848,39552
1,2008,2,31,356743,1,8,1,1,0000,0000,0000,0000,0000,A419,0000,0000,R092,0000,0000,0000,I219,0000,0000,0000,0000,0000,0000,0000,I219,11214
2,2008,2,235,356743,1,8,1,1,0000,0000,0000,0000,0000,I64,0000,0000,R092,0000,0000,0000,0000,0000,0000,0000,0000,0000,0000,0000,I64,11655
3,2008,2,20,356743,1,8,1,1,0000,0000,0000,0000,0000,R570,0000,0000,R092,0000,0000,0000,0000,0000,0000,0000,0000,0000,0000,0000,R092,26098
4,2008,2,20,356743,1,8,1,1,0000,0000,0000,0000,0000,I38,0000,0000,C541,0000,0000,0000,0000,0000,0000,0000,0000,0000,0000,0000,I38,11367

In [135]:
df = trim_and_remap(df, {'cause': 'cause_mapped'}, code_map, code_system_id)

In [191]:
report_if_merge_fail(df, 'cause_mapped', 'cause')

In [192]:
df = df.rename(columns={'cause_mapped': 'code_id'})
df['code_id'] = df['code_id'].astype(int)

In [193]:
df = add_code_metadata(df, 'cause_id', code_map_version_id=get_map_version(1, 'YLL', 'best'),
                   **cache_options)

In [194]:
df.head()

,year_id,sex_id,age_group_id,nid,extract_type_id,location_id,code_system_id,deaths,multiple_cause_8,multiple_cause_19,multiple_cause_15,multiple_cause_5,multiple_cause_18,multiple_cause_1,multiple_cause_13,multiple_cause_4,multiple_cause_2,multiple_cause_9,multiple_cause_10,multiple_cause_12,multiple_cause_3,multiple_cause_17,multiple_cause_7,multiple_cause_14,multiple_cause_11,multiple_cause_20,multiple_cause_6,multiple_cause_16,cause,code_id,cause_id
0,2008,2,31,356743,1,8,1,1,0000,0000,0000,E46,0000,R788,0000,N19,T857,0000,0000,0000,Y848,0000,0000,0000,0000,0000,F0300,0000,Y848,39552,708
1,2008,2,31,356743,1,8,1,1,0000,0000,0000,0000,0000,A419,0000,0000,R092,0000,0000,0000,I219,0000,0000,0000,0000,0000,0000,0000,I219,11214,493
2,2008,2,235,356743,1,8,1,1,0000,0000,0000,0000,0000,I64,0000,0000,R092,0000,0000,0000,0000,0000,0000,0000,0000,0000,0000,0000,I64,11655,743
3,2008,2,20,356743,1,8,1,1,0000,0000,0000,0000,0000,R570,0000,0000,R092,0000,0000,0000,0000,0000,0000,0000,0000,0000,0000,0000,R092,26098,743
4,2008,2,20,356743,1,8,1,1,0000,0000,0000,0000,0000,I38,0000,0000,C541,0000,0000,0000,0000,0000,0000,0000,0000,0000,0000,0000,I38,11367,503

In [140]:
full_cause_name

['unspecified external factor x59']

In [195]:
def prep_int_cause_map():
    map_dir = conf.get_directory('process_inputs')
    code_system_name = {1: 'icd10', 6: 'icd9'}[code_system_id]
    df = pd.read_excel(f"{map_dir}/mcause_map.xlsx", dtype={'icd_code': object})
    df = df[['icd_code', 'package_description', 'code_system']].drop_duplicates()

    # cleanup strings and things
    df[['package_description', 'code_system']] = df[['package_description', 'code_system']].apply(lambda x: x.str.lower())

    # only keep the rows we need for this intermediate cause
    df = df.loc[df['package_description'].isin(full_cause_name)]

    # intermediate causes should be mutually exclusive
    report_duplicates(df, ['icd_code', 'code_system'])

    # subset to just the code system being run through
    df = df.query(f'code_system == "{code_system_name}"')

    assert len(df) > 0, \
        f"There are no mappings for {code_system_name}, {full_cause_name}"

    # convert to a dictionary
    mcod_map = dict(list(zip(df['icd_code'], df['package_description'])))

    return mcod_map

In [142]:
df.head()

,year_id,sex_id,age_group_id,nid,extract_type_id,location_id,code_system_id,deaths,multiple_cause_8,multiple_cause_19,multiple_cause_15,multiple_cause_5,multiple_cause_18,multiple_cause_1,multiple_cause_13,multiple_cause_4,multiple_cause_2,multiple_cause_9,multiple_cause_10,multiple_cause_12,multiple_cause_3,multiple_cause_17,multiple_cause_7,multiple_cause_14,multiple_cause_11,multiple_cause_20,multiple_cause_6,multiple_cause_16,cause,code_id,cause_id
0,2008,2,31,356743,1,8,1,1,0000,0000,0000,E46,0000,R788,0000,N19,T857,0000,0000,0000,Y848,0000,0000,0000,0000,0000,F0300,0000,Y848,39552,708
1,2008,2,31,356743,1,8,1,1,0000,0000,0000,0000,0000,A419,0000,0000,R092,0000,0000,0000,I219,0000,0000,0000,0000,0000,0000,0000,I219,11214,493
2,2008,2,235,356743,1,8,1,1,0000,0000,0000,0000,0000,I64,0000,0000,R092,0000,0000,0000,0000,0000,0000,0000,0000,0000,0000,0000,I64,11655,743
3,2008,2,20,356743,1,8,1,1,0000,0000,0000,0000,0000,R570,0000,0000,R092,0000,0000,0000,0000,0000,0000,0000,0000,0000,0000,0000,R092,26098,743
4,2008,2,20,356743,1,8,1,1,0000,0000,0000,0000,0000,I38,0000,0000,C541,0000,0000,0000,0000,0000,0000,0000,0000,0000,0000,0000,I38,11367,503

In [196]:
int_cause_map = prep_int_cause_map()
# this just creates "multiple_cause_x_int_cause" cols with string name
df = map_cause_codes(df, int_cause_map, int_cause)

In [198]:
[x for x in list(df) if x.endswith("x59")]

['multiple_cause_8_x59',
 'multiple_cause_19_x59',
 'multiple_cause_15_x59',
 'multiple_cause_5_x59',
 'multiple_cause_18_x59',
 'multiple_cause_1_x59',
 'multiple_cause_13_x59',
 'multiple_cause_4_x59',
 'multiple_cause_2_x59',
 'multiple_cause_9_x59',
 'multiple_cause_10_x59',
 'multiple_cause_12_x59',
 'multiple_cause_3_x59',
 'multiple_cause_17_x59',
 'multiple_cause_7_x59',
 'multiple_cause_14_x59',
 'multiple_cause_11_x59',
 'multiple_cause_20_x59',
 'multiple_cause_6_x59',
 'multiple_cause_16_x59',
 'cause_x59']

In [199]:
print_log_message("Trimming ICD codes and remapping chain causes")
int_cause_cols = [x for x in df.columns if int_cause in x]
int_cause_col_dict = prep_raw_mapped_cause_dictionary(
    raw_cause_cols, int_cause_cols)

[2019-12-16 22:28:44.065518] Trimming ICD codes and remapping chain causes

In [200]:
df = trim_and_remap(df, int_cause_col_dict, int_cause_map, code_system_id)

In [151]:
def capture_int_cause(df, int_cause_cols):
    """Flag deaths related to the intermediate cause."""
    df[int_cause] = None

    # if self.int_cause in self.inj_causes:
    #     df = self.capture_injuries_pattern(df, int_cause_cols)


    for col in int_cause_cols:
        df[col] = df[col].fillna("other")
        df.loc[df[col].isin(full_cause_name), int_cause] = 1
    df[int_cause] = df[int_cause].fillna(0)

    assert df[int_cause].notnull().values.all()

    return df

In [201]:
df = capture_int_cause(df, int_cause_cols)

In [202]:
df.head()

,year_id,sex_id,age_group_id,nid,extract_type_id,location_id,code_system_id,deaths,multiple_cause_8,multiple_cause_19,multiple_cause_15,multiple_cause_5,multiple_cause_18,multiple_cause_1,multiple_cause_13,multiple_cause_4,multiple_cause_2,multiple_cause_9,multiple_cause_10,multiple_cause_12,multiple_cause_3,multiple_cause_17,multiple_cause_7,multiple_cause_14,multiple_cause_11,multiple_cause_20,multiple_cause_6,multiple_cause_16,cause,code_id,cause_id,multiple_cause_8_x59,multiple_cause_19_x59,multiple_cause_15_x59,multiple_cause_5_x59,multiple_cause_18_x59,multiple_cause_1_x59,multiple_cause_13_x59,multiple_cause_4_x59,multiple_cause_2_x59,multiple_cause_9_x59,multiple_cause_10_x59,multiple_cause_12_x59,multiple_cause_3_x59,multiple_cause_17_x59,multiple_cause_7_x59,multiple_cause_14_x59,multiple_cause_11_x59,multiple_cause_20_x59,multiple_cause_6_x59,multiple_cause_16_x59,cause_x59,x59
0,2008,2,31,356743,1,8,1,1,0000,0000,0000,E46,0000,R788,0000,N19,T857,0000,0000,0000,Y848,0000,0000,0000,0000,0000,F0300,0000,Y848,39552,708,0000,0000,0000,other,0000,other,0000,other,other,0000,0000,0000,other,0000,0000,0000,0000,0000,other,0000,other,0
1,2008,2,31,356743,1,8,1,1,0000,0000,0000,0000,0000,A419,0000,0000,R092,0000,0000,0000,I219,0000,0000,0000,0000,0000,0000,0000,I219,11214,493,0000,0000,0000,0000,0000,other,0000,0000,other,0000,0000,0000,other,0000,0000,0000,0000,0000,0000,0000,other,0
2,2008,2,235,356743,1,8,1,1,0000,0000,0000,0000,0000,I64,0000,0000,R092,0000,0000,0000,0000,0000,0000,0000,0000,0000,0000,0000,I64,11655,743,0000,0000,0000,0000,0000,other,0000,0000,other,0000,0000,0000,0000,0000,0000,0000,0000,0000,0000,0000,other,0
3,2008,2,20,356743,1,8,1,1,0000,0000,0000,0000,0000,R570,0000,0000,R092,0000,0000,0000,0000,0000,0000,0000,0000,0000,0000,0000,R092,26098,743,0000,0000,0000,0000,0000,other,0000,0000,other,0000,0000,0000,0000,0000,0000,0000,0000,0000,0000,0000,other,0
4,2008,2,20,356743,1,8,1,1,0000,0000,0000,0000,0000,I38,0000,0000,C541,0000,0000,0000,0000,0000,0000,0000,0000,0000,0000,0000,I38,11367,503,0000,0000,0000,0000,0000,other,0000,0000,other,0000,0000,0000,0000,0000,0000,0000,0000,0000,0000,0000,other,0

In [208]:
df = df[[x for x in list(df) if not x.endswith("x59")] + ["x59"]]

In [209]:
df[[x for x in list(df) if "multiple_cause" in x]] = df[[x for x in list(df) if "multiple_cause" in x]].replace("0000", np.NaN)

In [210]:
df.head()

,year_id,sex_id,age_group_id,nid,extract_type_id,location_id,code_system_id,deaths,multiple_cause_8,multiple_cause_19,multiple_cause_15,multiple_cause_5,multiple_cause_18,multiple_cause_1,multiple_cause_13,multiple_cause_4,multiple_cause_2,multiple_cause_9,multiple_cause_10,multiple_cause_12,multiple_cause_3,multiple_cause_17,multiple_cause_7,multiple_cause_14,multiple_cause_11,multiple_cause_20,multiple_cause_6,multiple_cause_16,cause,code_id,cause_id,x59
0,2008,2,31,356743,1,8,1,1,NaN,NaN,NaN,E46,NaN,R788,NaN,N19,T857,NaN,NaN,NaN,Y848,NaN,NaN,NaN,NaN,NaN,F0300,NaN,Y848,39552,708,0
1,2008,2,31,356743,1,8,1,1,NaN,NaN,NaN,NaN,NaN,A419,NaN,NaN,R092,NaN,NaN,NaN,I219,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I219,11214,493,0
2,2008,2,235,356743,1,8,1,1,NaN,NaN,NaN,NaN,NaN,I64,NaN,NaN,R092,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I64,11655,743,0
3,2008,2,20,356743,1,8,1,1,NaN,NaN,NaN,NaN,NaN,R570,NaN,NaN,R092,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,R092,26098,743,0
4,2008,2,20,356743,1,8,1,1,NaN,NaN,NaN,NaN,NaN,I38,NaN,NaN,C541,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I38,11367,503,0

In [171]:
from cod_prep.downloaders import (
    add_cause_metadata, get_best_cause_hierarchy_version,
    get_current_cause_hierarchy, get_cod_ages, get_age_weights, add_population
)

CONF = Configurator('standard')

In [175]:
# subset to injuries as UC
def get_most_detailed_inj_causes(int_cause, cause_set_version_id=None,
                                 cause_set_id=3, gbd_round_id=None,
                                 **cache_kwargs):
    """
    Gets cause ids for most detailed injuries causes,
    filters to unintentional for x59 - rewriting this sounds promising
    """
    restrict_df = pd.read_csv(CONF.get_resource(
        'x59_redistribution_restrictions'))
    cause_df = get_current_cause_hierarchy(
        cause_set_version_id=cause_set_version_id,
        cause_set_id=cause_set_id, gbd_round_id=None, **cache_kwargs)
    cause_df = cause_df.loc[(cause_df['yld_only'] != 1) & (
        cause_df['most_detailed'] == 1) & (cause_df["secret_cause"] != 1)]
    # this only works at the most detailed level
    dinj = list(
        cause_df.loc[cause_df['acause'].str.contains('inj')].cause_id.unique())

    # x59 only unintentional
    if int_cause == "x59":
        dinj = [x for x in dinj if x not in restrict_df.cause_id.unique()]

    # 3/10/2019: Mohsen said drop 729: inj_disaster and
    # 945: inj_war_warterror as targets
    dinj = [x for x in dinj if x not in [729, 945]]

    return dinj

In [176]:
causes = get_most_detailed_inj_causes("x59", cause_set_id=4)

/ihme/code/cod/prep/miniconda3/envs/cod_env/lib/python3.7/site-packages/db_queries/core/utils.py:30: UserWarning: Supplied cause_set_version_id 357 is not the active set version for cause_set_id 4, gbd_round_id 6, decomp_step None. Active: 382. Please consider how this may or may not affect your results.
  f"Supplied {entity_type}_set_version_id "

In [178]:
df.head()

,year_id,sex_id,age_group_id,nid,extract_type_id,location_id,code_system_id,deaths,multiple_cause_8,multiple_cause_19,multiple_cause_15,multiple_cause_5,multiple_cause_18,multiple_cause_1,multiple_cause_13,multiple_cause_4,multiple_cause_2,multiple_cause_9,multiple_cause_10,multiple_cause_12,multiple_cause_3,multiple_cause_17,multiple_cause_7,multiple_cause_14,multiple_cause_11,multiple_cause_20,multiple_cause_6,multiple_cause_16,cause,code_id,cause_id
0,2008,2,31,356743,1,8,1,1,NaN,NaN,NaN,E46,NaN,R788,NaN,N19,T857,NaN,NaN,NaN,Y848,NaN,NaN,NaN,NaN,NaN,F0300,NaN,Y848,39552,708
1,2008,2,31,356743,1,8,1,1,NaN,NaN,NaN,NaN,NaN,A419,NaN,NaN,R092,NaN,NaN,NaN,I219,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I219,11214,493
2,2008,2,235,356743,1,8,1,1,NaN,NaN,NaN,NaN,NaN,I64,NaN,NaN,R092,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I64,11655,743
3,2008,2,20,356743,1,8,1,1,NaN,NaN,NaN,NaN,NaN,R570,NaN,NaN,R092,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,R092,26098,743
4,2008,2,20,356743,1,8,1,1,NaN,NaN,NaN,NaN,NaN,I38,NaN,NaN,C541,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I38,11367,503

In [179]:
len(df)

142283

In [211]:
# think input data will look similar to this, but maybe a combined column for mcod info 
df.loc[(df.cause_id.isin(causes)) | (df.x59==1)]

,year_id,sex_id,age_group_id,nid,extract_type_id,location_id,code_system_id,deaths,multiple_cause_8,multiple_cause_19,multiple_cause_15,multiple_cause_5,multiple_cause_18,multiple_cause_1,multiple_cause_13,multiple_cause_4,multiple_cause_2,multiple_cause_9,multiple_cause_10,multiple_cause_12,multiple_cause_3,multiple_cause_17,multiple_cause_7,multiple_cause_14,multiple_cause_11,multiple_cause_20,multiple_cause_6,multiple_cause_16,cause,code_id,cause_id,x59
0,2008,2,31,356743,1,8,1,1,NaN,NaN,NaN,E46,NaN,R788,NaN,N19,T857,NaN,NaN,NaN,Y848,NaN,NaN,NaN,NaN,NaN,F0300,NaN,Y848,39552,708,0
8,2008,1,15,356743,1,8,1,1,NaN,NaN,NaN,NaN,NaN,T794,NaN,NaN,S068,NaN,NaN,NaN,V234,NaN,NaN,NaN,NaN,NaN,NaN,NaN,V234,34825,692,0
18,2008,1,14,356743,1,8,1,1,NaN,NaN,NaN,NaN,NaN,T818,NaN,NaN,Y832,NaN,NaN,NaN,I219,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y832,39536,708,0
100,2008,1,235,356743,1,8,1,1,NaN,NaN,NaN,NaN,NaN,S065,NaN,NaN,S223,NaN,NaN,NaN,X59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X59,37920,743,1
107,2008,1,16,356743,1,8,1,1,NaN,NaN,NaN,NaN,NaN,T71,NaN,NaN,T751,NaN,NaN,NaN,W74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,W74,37070,698,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142017,2008,1,14,356743,1,8,1,1,NaN,NaN,NaN,NaN,NaN,T71,NaN,NaN,S280,NaN,NaN,NaN,W20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,W20,36394,707,0
142219,2008,1,11,356743,1,8,1,1,NaN,NaN,NaN,NaN,NaN,S062,NaN,W17,T794,NaN,NaN,NaN,S029,NaN,NaN,NaN,NaN,NaN,NaN,NaN,W17,36344,697,0
142234,2008,1,16,356743,1,8,1,1,NaN,NaN,NaN,NaN,NaN,T794,NaN,NaN,S360,NaN,NaN,NaN,W19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,W19,36383,697,0
142249,2008,1,10,356743,1,8,1,1,NaN,NaN,NaN,NaN,NaN,S068,NaN,NaN,X59,NaN,NaN,NaN,D469,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X59,37920,743,1
142262,2008,1,18,356743,1,8,1,1,NaN,NaN,NaN,NaN,NaN,J80,NaN,W05,J690,NaN,NaN,NaN,A419,NaN,NaN,NaN,NaN,NaN,NaN,NaN,W05,36145,697,0